.time-greeting {
    width: 100%;
    height: calc(100vh * 0.60);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;

    .clock-time {
        font-size: 10rem;
        cursor: pointer;
    }

    .greeting {
        font-size: 2rem;
        cursor: default;
    }

    .input {
        font-size: 1.5rem;
        padding: 0 1.5rem;
        width: 15rem;
        margin-top: 1rem;
        border-radius: 15px;
        background-color: transparent;

        &::placeholder {
            color: black;
            font-size: 1.5rem;
        }
    }
}